---
layout: default
title: hotel zen tokyo - page not found
meta_description: 
permalink: "/page-not-found/"
meta_tags:
  robots: 
published_localized:
  en: true
  ja: true
title_localized:
  en: hotel zen tokyo - page not found
permalink_localized:
  en: "/page-not-found/"
label: Page Not Found

---

{% if site.active_lang == "ja" %}
 {% assign lang_url = "/ja" %}
{% endif %}
<!-- Page not found Banner -->
<section class="inner-banner text-center bg-cover mb-5" style="background-image:url('/assets/images/rooms/rooms-banner.jpg');">
  <div class="inner-banner-content">
    {% regionblock page_bot_found_banner, type:header %}
      <h1 tabindex="0">Page not found</h1>
    {% endregionblock %}
  </div>
</section>

{% assign links = site.data.navigation.main %}
<!-- Page not found -->
<section class="static-page-wrap text-center">
  <div class="sitemap">
    {% regionblock page_bot_found_sitemap, type:header %}
      <h3 tabindex="0">Sitemap</h3>
    {% endregionblock %}
    <ul>
      {% assign footer-links = site.data.navigation.footer_left %}
      {% for link in links %}
        <li>
          <a href="{{ link.url | absolute_url }}">{{ link.title }}{% if page.url == link.url %}<span class="sr-only">(current)</span>{% endif%}</a>
        </li>
      {% endfor %}
      {% assign footer-links = site.data.navigation.footer_right %}
      {% for link in footer-links %}
        <li>
          <a href="{{ link.url | absolute_url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
