---
layout: default
title_localized:
  en: Contact Details | Hotel Zen Tokyo
  ja: hotel zen tokyo | お問い合わせ
meta_description_localized:
  en: Get in touch with Hotel Zen Tokyo at 1-5-8 Nihonbashi Ningyocho, Chuoko, Tokyo, Japan 103-0013. Email contact@senrecube.com or send a message here.
  ja: メールにてお問い合わせを受け付けております。 メールでのお問い合わせにつきましては順次担当者が対応させていただいておりますが、 ご返答にお時間を頂戴する場合がございます。 お問い合わせはお問い合わせフォームの送信またはメールアドレスへのご連絡をお願いいたします。
permalink_localized:
  en: /contact/
  ja: /contact/
published_localized:
  en: true
  ja: true
meta_tags:
  robots:
---

<!-- Contact Banner -->
<section class="inner-banner text-center bg-cover mb-5" style="background-image:url('/assets/images/contact/contact-hero.jpg');">
  <div class="inner-banner-content">
   {% regionblock page_title, type:header %}
    <h1 tabindex="0">{% t 'contact' %}</h1>
   {% endregionblock %}
  </div>
</section>

<!-- Contact Form -->
<section class="contact-form">
  {% regionblock page_subtitle, type:header %}
   <h2 tabindex="0">{% t 'at_your_service' %}</h2>
  {% endregionblock %}
  {% include forms/jotform/contact.html %}
</section>

{% include forms/jotform/newsletter.html %}
