---
layout: default
title_localized:
  en: hotel zen tokyo - contact
  ja: お問い合わせ
meta_description_localized:
  en: Contact Us
  ja: お問い合わせ
permalink_localized:
  en: /contact/
  ja: /contact/
published_localized:
  en: true
  ja: true
meta_tags:
  robots:
---

<!-- Contact Banner -->
<section class="inner-banner text-center bg-cover mb-5" style="background-image:url('/assets/images/contact/contact-hero.jpg');">
  <div class="inner-banner-content">
   {% regionblock page_title, type:header %}
    <h1 tabindex="0">{% t 'contact' %}</h1>
   {% endregionblock %}
  </div>
</section>

<!-- Contact Form -->
<section class="contact-form">
  {% regionblock page_subtitle, type:header %}
   <h2 tabindex="0">{% t 'at_your_service' %}</h2>
  {% endregionblock %}
  {% include forms/jotform/contact.html %}
</section>

{% include forms/jotform/newsletter.html %}
