---
layout: default
title_localized:
  en: FAQs | Authentic Japan in Modern Tokyo
  ja: よくあるご質問
meta_description_localized:
  en: FAQs
  ja: よくあるご質問
permalink_localized:
  en: /faq/
  ja: /faq/
published_localized:
  en: true
  ja: true
meta_tags:
  robots:
---

<!-- FAQs Banner -->
<section class="inner-banner text-center bg-cover mb-5" style="background-image:url('/assets/images/careers/careers-hero.jpg');">
  <div class="inner-banner-content">
    {% regionblock faq_heading, type:header %}
      <h1>{% t 'faq' %}</h1>
    {% endregionblock %}
  </div>
</section>

{% assign qa = site.data._models.faq | sort: "category_order" %}
<!-- FAQs Accordion -->
<section class="faq">
  <div class="accordion" id="faqs">
    {% for item in qa %}
      <div class="card mb-5">
        <h2>{{ item.title }}</h2>

        {% for query in item.qa_listing %}
          <div class="card-header" id="{{ query.question_id }}heading">
            <h5 class="{% if forloop.index > 1 %}collapsed{% endif %}" data-toggle="collapse" data-target="#{{ query.question_id }}collapse" aria-expanded="true" aria-controls="{{ query.question_id }}collapse"><i class="fas fa-angle-right"></i> <span>{{ query.question }}</span></h5>
          </div>

          <div id="{{ query.question_id }}collapse" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="{{ query.question_id }}heading" data-parent="#faqs">
            <div class="card-body">
              {{ query.answer }}
            </div>
          </div>
        {% endfor %}

      </div>
    {% endfor %}
  </div>
</div>
</section>
