---
layout: default
title_localized:
  en: zen hotel tokyo - location
  ja: 人形町駅徒歩30秒の好立地
meta_description_localized:
  en: Our hotel is mere steps away from Ningyocho Station, which offers direct access to both of Tokyo's airports and the city's most exciting destinations.
  ja: 人形町駅から徒歩30秒。羽田空港も成田空港も電車一本、隣の水天宮駅からは同じく両空港行きのバスがあり、銀座・日本橋・東京駅もすぐ近く
permalink_localized:
  en: /location/
  ja: /location/
published_localized:
  en: true
  ja: true
meta_tags:
  robots:
---

{% if site.active_lang == "ja" %}
 {% assign lang_url = "/ja" %}
{% endif %}
<!-- Location page banner -->
<section class="banner-fullscreen" style="background-image:url('/assets/images/location/location-banner.jpg')">
  <div class="wrapper">
    {% regionblock location_title, type:header %}
      <h1 class="lowercase" tabindex="0">{% t 'location' %}</h1>
    {% endregionblock %}
    <a class="primary-btn" href="#findus" rel="nofollow"><span>{% t 'direction' %}</span><i class="fas fa-angle-right"></i></a>
  </div>
</section>

<!--About content here -->
<section class="twocol">
  <div class="twocol-row">
    <div class="content">
      <div class="content-wrap" tabindex="0">
        {% regionblock ningyocho_tagline, type:header %}
          <h4>Authentic Japan in Modern Tokyo</h4>
        {% endregionblock %}
        {% regionblock ningyocho_title, type:header %}
          <h2>Nihombashi Ningyocho</h2>
        {% endregionblock %}
        {% regionblock ningyocho_detail, type:html %}
          <p>Our hotel is mere steps away from Ningyocho Station, which offers direct access to both of Tokyo's airports and the city's most exciting destinations. The Ningyocho/Nihonmbashi neighborhood is a historically rich district within Tokyo that has retained much of its traditional charm, architecture and experiences. Take a stroll around the hotel and enjoy some of Tokyo's oldest shops and local foods. </p>
        {% endregionblock %}
      </div>
      <!-- <div class="intro-btn-holder">
        {% regionblock contact_url, type:html %}
          <a class="primary-btn" href="{{ lang_url }}/contact/"><span>Contact Us</span><i class="fas fa-angle-right"></i></a>
        {% endregionblock %}
      </div> -->
    </div>
    <div class="image bg-bottom" style="background-image: url('/assets/images/location/mifune.jpg');"></div>
  </div>
</section>

<!--Editable Image collage -->
<section class="image-collage">
  <div class="wrapper">
    <div class="item-half">
      {% regionblock location_image_one, type:image %}
        <img src="/assets/images/location/loc-pic-2.jpg" alt="Ningyocho neighborhood">
      {% endregionblock %}
    </div>
    <div class="item-onefourth">
      {% regionblock location_image_two, type:image %}
        <img src="/assets/images/location/loc-pic-3.jpg" alt="Ningyocho neighborhood">
      {% endregionblock %}
    </div>
    <div class="item-onefourth">
      {% regionblock location_image_three, type:image %}
        <img src="/assets/images/location/loc-pic-4.jpg" alt="Ningyocho neighborhood">
      {% endregionblock %}
    </div>
  </div>
</section>

<!-- Directions section -->
<section class="directions" id="findus">
  <div class="wrapper">
    <div class="content">
      {% regionblock directions_title, type:header %}
        <h6 class="hideline" tabindex="0">Directions</h6>
      {% endregionblock %}
      {% regionblock direction_query, type:header %}
        <h2 tabindex="0">How to find us</h2>
      {% endregionblock %}
      {% regionblock direction_url, type:html %}
        <a class="primary-btn inverse" href="https://goo.gl/maps/3VwoSMEa5Wo" target="_blank"><span>Google Map</span><i class="fas fa-angle-right"></i></a>
      {% endregionblock %}
      {% regionblock direction_pdf_download, type:html %}
        <a class="primary-btn inverse" href="//cdn.traveltripper.io/site-assets/32_913_19228/media/2018-09-26-020003/location.pdf" target="_blank"><span>Download PDF</span><i class="fas fa-angle-right"></i></a>
      {% endregionblock %}
    </div>
    <div class="content" tabindex="0">
      {% regionblock byplane_title, type:header %}
        <h6>By Plane</h6>
      {% endregionblock %}
      {% regionblock airport_one, type:header %}
        <h3 class="italic">From Narita Airport</h3>
      {% endregionblock %}
      {% regionblock bymetro_one, type:html %}
        <p>BY METRO:<br><br>Take the Keisei Narita Skyaccess line that directly connects to Asakusa line, no need to transfer. Get off at Ningyocho station, take the exit A6 elevator and you'll see our hotel to your left.</p>
      {% endregionblock %}
      {% regionblock bybus_one, type:html %}
        <p>BY BUS:<br><br>There is a Narita airport limousine bus that leaves the airport and stops at Tokyo City Air Terminal("TCAT") which is a five minute walk away from our hotel.</p>
      {% endregionblock %}
    </div>
    <div class="content" tabindex="0">
      {% regionblock byplane_two_title, type:header %}
        <h6>By Plane</h6>
      {% endregionblock %}
      {% regionblock airport_two, type:header %}
        <h3 class="italic">From Haneda Airport</h3>
      {% endregionblock %}
      {% regionblock bymetro_two, type:html %}
        <p>BY METRO:<br><br>Take the Keikyu-Kuko line that directly connects to Asakusa line, no need to transfer. Get off at Ningyocho station, take the exit A6 elevator and you'll see our hotel to your left.</p>
      {% endregionblock %}
      {% regionblock bybus_two, type:html %}
        <p>BY BUS:<br><br>There is a Haneda airport limousine bus that leaves the airport and stops at Tokyo City Air Terminal("TCAT") which is a five minute walk away from our hotel. </p>
      {% endregionblock %}
    </div>
    <div class="content" tabindex="0">
      {% regionblock bytrain_title, type:header %}
        <h6>By Train</h6>
      {% endregionblock %}
      {% regionblock bytrain_detail, type:html %}
        <p>Ningyocho and Suitengumae stations. We are 1 minute walk away from Ningyocho, and 5 minutes walk away from Suitengumae.</p>
      {% endregionblock %}
      {% regionblock bymetro_three, type:header %}
        <h6>By Metro</h6>
      {% endregionblock %}
      {% regionblock bymetro_three_detail, type:html %}
        <p>Nngyocho has Asakusa line, Hibiya line. Suitengumae has Hanzomoline (that directly connects to Denentoshi-line)</p>
      {% endregionblock %}
    </div>
  </div>

  <!-- Leflet Map -->
  <div class="mt-5" id="leaflet-map" tabindex="-1"></div>

</section>

<!-- Newsletter signup here -->
{% include forms/jotform/newsletter.html %}
