---
layout: default
title: hotel zen tokyo - sitemap
meta_description: 
permalink: "/sitemap/"
meta_tags:
  robots: noindex, follow
published_localized:
  en: true
  ja: true
title_localized:
  en: hotel zen tokyo - sitemap
permalink_localized:
  en: "/sitemap/"
label: Sitemap

---

<!-- Sitemap Banner -->
<section class="inner-banner text-center bg-cover mb-5" style="background-image:url('/assets/images/rooms/rooms-banner.jpg');">
  <div class="inner-banner-content">
    {% regionblock sitemap_banner, type:header %}
      <h1 tabindex="0">Sitemap</h1>
    {% endregionblock %}
  </div>
</section>

{% assign links = site.data.navigation.main %}
<!-- Sitemap -->
<section class="static-page-wrap text-center">
  <div class="sitemap">
    <ul>
      {% assign footer-links = site.data.navigation.footer_left %}
      {% for link in links %}
        <li>
          <a href="{{ link.url | absolute_url }}">{{ link.title }}{% if page.url == link.url %}<span class="sr-only">(current)</span>{% endif%}</a>
        </li>
      {% endfor %}
      {% assign footer-links = site.data.navigation.footer_right %}
      {% for link in footer-links %}
        <li>
          <a href="{{ link.url | absolute_url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
