

<div class="wrapper d-flex justify-content-between">
  <div class="footer-logo">
    <img class="w-100" src="/assets/images/logo-footer.png" alt="Hotel Zen Tokyo">
  </div>
  <div class="contact">
    <h4 tabindex="0">{% t 'contact' %}</h4>
    <p tabindex="0"><a href="https://goo.gl/maps/3VwoSMEa5Wo" target="_blank" rel="nofollow">{% t 'address' %}</a></p>
    <p><a href="mailto:{{ site.email }}" title="{% t 'email' %}">{{ site.email }}</a></p>
  </div>
  <div class="links">
    <h4 tabindex="0">{% t 'links' %}</h4>
    {% assign footer-links = site.data.navigation.footer_left %}
    <ul class="d-flex flex-column">
      {% for link in footer-links %}
        <li>
          <a href="{{ link.url | absolute_url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {% assign footer-links = site.data.navigation.footer_right %}
    <ul class="d-flex flex-column">
      {% for link in footer-links %}
        <li>
          <a href="{{ link.url | absolute_url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="social-terms d-flex justify-content-between">
  <div class="social-icons">
    {% if site.data.ui-text[site.default_lang].follow_label %}
      <strong>{{ site.data.ui-text[site.default_lang].follow_label }}</strong>
    {% endif %}
    {% if site.data.social.facebook.username %}
      <a href="https://facebook.com/{{ site.data.social.facebook.username }}" title="Hotel Zen Tokyo Facebook wall" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.data.social.twitter.username %}
      <a href="https://twitter.com/{{ site.data.social.twitter.username }}" title="Hotel Zen Tokyo Twitter wall" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.data.social.instagram.username %}
      <a href="https://www.instagram.com/{{ site.data.social.instagram.username }}" title="Hotel Zen Tokyo Insta wall" target="_blank"><i class="fab fa-instagram" aria-hidden="true" ></i></a>
    {% endif %}
    {% if site.data.social.googleplus.username %}
      <a href="https://plus.google.com/{{ site.data.social.googleplus.username }}" title="Hotel Zen Tokyo Google Plus wall" target="_blank" ><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
    {% endif %}
  </div>
  <span class="copyrights">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. All Rights Reserved</span>
</div>
