<section class="more-rooms-wrap">
  <h4>hotel zen tokyo</h4>
  <h2>discover more rooms & pods</h2>
  <div class="more-rooms-inner align-items-center">
    <div class="content">
      <h4>room 2</h4>
      <h3>Ta-ke - <span>Semidouble bed pod</span></h3>
      <p>Spacious pod with a comfortable, western-style semi-double (120cm) bed for one person only. Pod height reaches all the way to the ceiling. Comes with a safe, free-wifi, clothes hanger, towel and full amenities. </p>
    </div>
    <div class="image bg-styles" style="background-image:url('/assets/images/rooms/more-rooms-thumb.jpg')">
      <a class="primary-btn inverse" href="#"><span>Discover More</span><i class="fas fa-angle-right"></i></a>
    </div>
  </div>
  <div class="more-rooms-inner align-items-center">
    <div class="content">
      <h4>room 3</h4>
      <h3>Matsu - <span>Semidouble bed with extra room</span></h3>
      <p>Spacious pod with a comfortable, western-style semi-double (120cm) bed for one person only. Pod height reaches all the way to the ceiling. Comes with a safe, free-wifi, clothes hanger, towel and full amenities. </p>
    </div>
    <div class="image bg-styles" style="background-image:url('/assets/images/rooms/more-rooms-thumb.jpg')">
      <a class="primary-btn inverse" href="#"><span>Discover More</span><i class="fas fa-angle-right"></i></a>
    </div>
  </div>
</section>
