// Base Elements
// ==========================================================================

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font-family;
  line-height: 1.5rem;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $header-font-family;
}

h1 {
  font-size: $type-size-2;
  font-weight: 300;
  line-height: 2.5rem;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;

  &.lowercase {
    text-transform: lowercase;
  }

  @include media-breakpoint-up(sm) {
    font-size: $type-size-1;
    line-height: 4.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: $type-size-0;
    line-height: 5rem;
  }
}

h2 {
  font-size: $type-size-3;
  font-weight: 400;
  line-height: 1.5rem;
  color: $secondary-color;
  letter-spacing: 1px;

  @include media-breakpoint-up(sm) {
    font-size: $type-size-2;
    font-weight: 400;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: $type-size-4;
  font-weight: 400;
  line-height: 1.25rem;
  color: $primary-color;
  letter-spacing: 1px;

  &.italic {
    font-style: italic;
    font-weight: 500;
  }

  @include media-breakpoint-up(sm) {
    font-size: $type-size-3;
    font-weight: 400;
    line-height: 2rem;
  }
}

h4 {
  font-size: $type-size-6;
  font-weight: 500;
  color: $dark-gray;
  text-transform: uppercase;
  letter-spacing: .5px;
}

h5 {
  font-size: $type-size-4;
  line-height: 1.75;
  color: $primary-color;
  letter-spacing: .5px;
}

h6 {
  font-size: $type-size-6;
  font-weight: 400;
}

caption {
  font-size: $type-size-6;
  font-weight: 400;
  color: $black;
}

small, .small {
  font-size: $type-size-8;
  font-weight: 400;
  line-height: 1rem;
  color: $black;
}

p {
  margin-bottom: 24px;
  font-family: $global-font-family;
  font-size: $type-size-5;
  line-height: 1.5rem;
  color: $black;
  letter-spacing: .5px;
}


//For text color light & dark states w.r.t above text options

.dark {
  color: $black !important;
}

.light {
  color: $white !important;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

// Links

a {
  &:hover,
  &:active {
    text-decoration: none;
    outline: 0;
  }
}

// Sets a default bottom margin and removes bullet points from lists

ul li,
ol li {
  margin-bottom: 12px;
  font-family: $global-font-family;
  font-size: $type-size-5;
  line-height: 1.5rem;
  color: $black;
  letter-spacing: .5px;
  list-style: none;
}

li ul,
li ol {
  margin-top: .5rem;
  list-style: none;
}

// Fix IE9 SVG bug

svg:not(:root) {
  overflow: hidden;
}

#main {
  margin-top: 61px;

  @include media-breakpoint-up(lg) {
    margin-top: 128px;
  }
}
