//Buttons Styles
//==========================================


.primary-btn {
  display: inline-block;
  font-family: $header-font-family;
  font-size: $type-size-5;
  font-style: italic;
  color: $white;
  letter-spacing: .5px;
  background-color: $black;
  border: solid 1px $black;
  @include transition ($global-transition);

  span {
    position: relative;
    top: -4px;
    display: inline-block;
    padding: 8px 20px 10px;
  }

  svg {
    position: relative;
    top: 7px;
    width: 48px !important;
    height: 36px;
    padding: 10px 20px 10px 18px;
    border-left: solid 1px $white;
  }

  &:hover {
    color: $black;
    text-decoration: none;
    background-color: $white;

    svg {
      border-left-color: $black;
    }
  }

  &.previous {
    svg {
      padding: 10px 18px 10px 20px;
      border-right: solid 1px $white;
      border-left: 0;
    }

    &:hover {
      svg {
        border-right-color: $black;
      }
    }
  }

  &.inverse {
    color: $black;
    background-color: $white;

    svg {
      border-left-color: $black;
    }

    &:hover {
      color: $white;
      background-color: $black;

      svg {
        border-left-color: $white;
      }
    }
  }
}

.secondary-btn {
  display: inline-block;
  padding: 11px 19px;
  font-family: $header-font-family;
  font-size: $type-size-5;
  color: $tertiary-color;
  text-transform: uppercase;
  letter-spacing: .5px;
  background-color: $black;
  border: solid 1px $tertiary-color;
  @include transition ($global-transition);

  &:hover {
    color: $black;
    text-decoration: none;
    background-color: $tertiary-color;
    border: solid 1px $black;
  }
}

disabled,.disabled {
  cursor: not-allowed;
  opacity: .3;
}

.bootstrap-select {

  &.dropdown-toggle {
    &::after {
      vertical-align: .1em;
    }
  }
  .dropdown-menu {
    left: 11px;

    .dropdown-item {
      &.active, &:active {
        background-color: $gray;
      }
    }
  }
}

//Select menu styling
.btn-transparent {
  display: block;
  width: 130px;
  height: fit-content;
  margin-left: 10px;
  padding: 0;
  font-family: $header-font-family;
  font-size: $type-size-6;
  color: $black !important;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 0;

  &:before {
    position: relative;
    top: 3px;
    display: none;
    width: 16px;
    height: 16px;
    margin-right: 7px;
    content: '';
    background: url('/assets/images/globe-dark.png');
    background-repeat: no-repeat;
    background-size: contain;

    @include media-breakpoint-up(xl) {
      display: inline-block;
    }
  }
}

.form-select {
  margin-right: 10px;

  @include media-breakpoint-up(md) {
    margin-right: 30px;
  }
}
