// Footer Elements
// ==========================================================================

// For sticky footer see https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

footer {
  padding: 0 15px;
  background-color: $black;

  .wrapper,.social-terms {
    @include fixed-width-layout;
    padding: 50px 0 20px;

    @include media-breakpoint-down(md) {
      display: block !important;
    }
  }

  .footer-logo {
    width: 208px;
    margin: 0 auto 40px;

    @include media-breakpoint-up(lg) {
      margin: 0;
    }
  }

  .contact {
    margin: 0 auto 20px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      margin: 0;
      text-align: left;
    }

    h4 {
      margin-bottom: 20px;
      color: $grey;
    }

    p {
      margin-bottom: 10px;
      font-size: $type-size-6;
      color: $white;

      a {
        display: block;
        color: $white;
        transition: $global-transition;

        &:hover {
          color: $dark-gray;
          text-decoration: none;
        }
      }
    }
  }

  .links {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    @include media-breakpoint-up(lg) {
      max-width: 416px;
      margin: 0;
      text-align: left;
    }

    h4 {
      margin-bottom: 20px;
      color: $grey;
    }

    ul {
      float: left;
      width: 50%;
      margin: 0;
      padding: 0;
      @include media-breakpoint-down(lg) {
        justify-content: center;
      }

      li {
        flex: 1 0 auto;
        min-width: auto;
        padding: 0 15px;
        text-align: center;

        @include media-breakpoint-up(lg) {
          min-width: 95px;
          padding: 0 15px 0 0;
          text-align: left;
        }

        a {
          font-family: $header-font-family;
          font-size: $type-size-7;
          color: $white;
          text-transform: uppercase;

          &:hover {
            color: $dark-gray;
            text-decoration: none;
          }
        }
      }
    }
  }

  .social-terms {
    padding-top: 20px;
    border-top: solid 1px $dark-gray;

    .social-icons {
      margin-bottom: 10px;
      text-align: center;
      a {
        color: $grey;
        &:hover {
          color: $white;
        }
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        text-align: left;
      }
    }

    .copyrights {
      display: block;
      font-family: $header-font-family;
      font-size: $type-size-8;
      color: $white;
      text-align: center;
      text-transform: uppercase;

      @include media-breakpoint-up(lg) {
        text-align: right;
      }
    }
  }
}
