// Header Elements
// ==========================================================================

header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background: $white;
  border-bottom: solid 16px $tertiary-color;
  @include transition ($global-transition);
}
