// Contact Page Elements
// ==========================================================================

.contact-form {
  @include fixed-width-content;
  margin-bottom: 72px;
  h2 {
    margin-bottom: 40px;
    text-align: center;
  }
  .form-group {
    margin-bottom: 0;
    &.two {
      @include make-row();
      .input-block {
        padding-bottom: 30px;
        @include make-col-ready();
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }
      }
    }
  }
  input, textarea {
    padding: 12px 20px;
    font-family: $header-font-family;
    font-size: $type-size-5;
    font-style: italic;
    letter-spacing: .5px;
    border: 1px solid $dark-gray;
    border-radius: 0;

    &:focus {
      z-index: 0;
      border-color: $black;
      box-shadow: none;
    }
  }
  input[type='checkbox'] {
    margin-top: 10px;
    background-color: transparent;
    border: solid 1px $black;
    border-radius: 0;
  }
  label {
    padding-left: 8px;
    font-family: $header-font-family;
    font-size: $type-size-7;
    line-height: normal;
    color: $black;
    a {
      color: $black;
      text-decoration: underline;
    }
  }
  textarea {
    width: 100%;
    height: 216px;
    margin-bottom: 18px;
  }
  .form-check {
    margin-bottom: 30px;
    label {
      &:before {
        top: 7px;
        background-color: transparent;
        border: solid 1px $black;
        border-radius: 0;
      }
      &:after {
        top: 7px;
      }
    }
  }
  button {
    cursor: pointer;
  }
}
