// Location Page Elements
// ==========================================================================

.image-collage {
  @include fluid-layout;
  height: auto;
  margin: 15px auto;
  padding: 0;
  overflow-y: hidden;

  @include media-breakpoint-up(md) {
    height: 432px;
    margin: 0;
  }

  .wrapper {
    @include make-row;
    margin: 0;
    padding: 0;

    .item-half {
      @include make-col-ready;

      @include media-breakpoint-up(md) {
        @include make-col(6);
        padding: 0;
      }
    }

    .item-onethird {
      @include make-col-ready;

      @include media-breakpoint-up(md) {
        @include make-col(4);
        padding: 0;
      }
    }

    .item-onefourth {
      @include make-col-ready;

      @include media-breakpoint-up(md) {
        @include make-col(3);
        padding: 0;
      }
    }

    .item-onesixth {
      @include make-col-ready;

      @include media-breakpoint-up(md) {
        @include make-col(2);
        padding: 0;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
