// Location Page Elements
// ==========================================================================

// Image collage
.image-collage {
  @include fluid-layout;
  height: auto;
  margin: 15px auto;
  padding: 0;
  overflow-y: hidden;

  @include media-breakpoint-up(md) {
    height: 432px;
    margin: 0;
  }

  .wrapper {
    @include make-row;
    margin: 0;
    padding: 0;

    .item-half {
      @include make-col-ready;

      @include media-breakpoint-up(md) {
        @include make-col(6);
        padding: 0;
      }

      div {
        height: 100%;
      }
    }

    .item-onethird {
      @include make-col-ready;

      @include media-breakpoint-up(md) {
        @include make-col(4);
        padding: 0;
      }
    }

    .item-onefourth {
      @include make-col-ready;

      @include media-breakpoint-up(md) {
        @include make-col(3);
        padding: 0;
      }

      div {
        height: 100%;
      }
    }

    .item-onesixth {
      @include make-col-ready;

      @include media-breakpoint-up(md) {
        @include make-col(2);
        padding: 0;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

// Directions section
.directions {
  @include fixed-width-layout;
  padding: 30px 15px;

  @include media-breakpoint-up(md) {
    padding: 72px 15px;
  }

  .wrapper {
    @include make-row;

    .content {
      @include make-col-ready;

      @include media-breakpoint-up(md) {
        @include make-col(3);
      }

      h6 {
        position: relative;
        display: inline-block;
        margin-bottom: 25px;
        padding-bottom: 15px;
        text-transform: uppercase;

        &:before {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 1px;
          content: '';
          background: $black;
        }

        &.hideline {
          margin-bottom: 0;

          &:before {
            display: none;
          }
        }
      }

      h3 {
        margin-bottom: 30px;
        color: $black;
      }

      h2 {
        margin-bottom: 40px;
      }

      .primary-btn {
        margin-bottom: 20px;

        span {
          min-width: 144px;
        }
      }
    }
  }
}

#leaflet-map {
  height: 500px;
}

.leaflet-popup-content {
  h4 {
    a {
      display: block;
      padding: 10px 0;
      color: $primary-color;
    }
  }
}
