// Rooms & Room Details Page Elements
// ==========================================================================

.rooms-list-wrap {
  @include fixed-width-layout;
  .rooms-list-inner {
    @include make-row();
  }
  .room-list-block {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(4);
      margin-bottom: 70px;
      padding-right: 12px;
      padding-left: 12px;
    }
    margin-bottom: 50px;
    .image {
      min-height: 260px;
      margin-bottom: 34px;
      @include media-breakpoint-up(md) {
        min-height: 228px;
      }
    }
    .content {
      h4 {
        position: relative;
        margin-bottom: 50px;
        &:after {
          position: absolute;
          top: 32px;
          left: 0;
          width: 81px;
          height: 2px;
          content: '';
          background-color: $black;
        }
        span {
          color: $black;
        }
      }
      p {
        height: auto;
        @include media-breakpoint-up(md) {
          height: 136px;
        }
      }
    }
  }
}

.inner-sub-nav {
  @include fixed-width-content;
  ul {
    margin: 40px 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0;
      padding: 7px 15px;
      a {
        font-size: $type-size-6;
        font-weight: 500;
        color: $dark-gray;
        text-transform: uppercase;
        letter-spacing: .5px;
        &:hover {
          color: $black;
          text-decoration: none;
        }
        &.active {
          color: $black;
        }
      }
    }
  }
}

.room-details-intro {
  @include make-row();
  .content {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
      padding-left: 110px;
    }
    .content-inner {
      @include vertical-center;
    }
    h2 {
      margin-bottom: 14px;
      span {
        color: $black;
      }
    }
    p {

    }
    a {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .image {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    height: 560px;
  }
}

.room-details-amenities {
  @include make-row();
  .content {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
      padding-left: 110px;
    }
    .content-inner {
      @include vertical-center;
    }
    h2 {
      margin-bottom: 14px;
      span {
        color: $black;
      }
    }
    p {

    }
    a {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .image {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    height: 500px;
  }
}
