---
layout: default
title: Blog Posts
meta_description: Blog Posts
meta_tags:
  robots:
---

<!-- Blog landing banner here -->
<section class="inner-banner text-center" style="background-image:url('/assets/images/blog/blog-banner.jpg');">
  <div class="inner-banner-content">
    <h1 class="lowercase">Blog</h1>
    <h3 class="italic">Read about all the local hasellus condimentum libero vel velit auctor sit amet tincidunt velit varius.</h3>
  </div>
</section>

<!-- Blog content here -->
<section class="blog">
  <div class="blog-row">
    <div class="blog-aside">
      {% include blog-aside.html %}
    </div>
    <div class="blog-content">
      <!-- Blog individual post -->
      {% for post in data_paginator.posts %}
      <div class="blog-item">
        <figure class="blog-lead-image">
          <a href="/blog/{{ post.url_friendly_name }}/">
            <img src="{{ post.image.url_medium }}" alt="{{ post.title }}">
          </a>
        </figure>
        <h2><a href="/blog/{{ post.url_friendly_name }}/">{{ post.title }}</a></h2>
        <div class="blog-info">
          <span class="date">
            {% assign d = post.date | date: "%-d" %}
            {{ post.date | date: "%B" }}
            {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
            {{ post.date | date: "%Y" }}
          </span>
          <span class="cat">
            <a href="/blog/category/{{ post.category.url_friendly_name }}/">{{ post.category.title }}</a>
          </span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros.</p>
        <div class="btn-holder">
          <a class="primary-btn inverse" href="/blog/{{ post.url_friendly_name }}/"><span>Read More</span><i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      {% endfor %}

      {% if data_paginator.total_pages > 1 %}

      <div class="pagination-counter">
        <p>Page: {{ data_paginator.page }} of {{ data_paginator.total_pages }}</p>
      </div>

      <div class="pagination">
        {% if data_paginator.previous_page %}
          {% if data_paginator.page %}
            <a name="previous" title="previous" class="primary-btn inverse left-arrow align-self-center" href="{{ data_paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
              <i class="fas fa-angle-left"></i><span>Prev</span>
            </a>
          {% else %}
            <a href="{{ data_paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> {{ page }} </a>
          {% endif %}

        {% else %}
          <a name="previous" title="previous" class="primary-btn inverse left-arrow align-self-center"><i class="fas fa-angle-left"></i><span>Prev</span></a>
        {% endif %}

        {% if data_paginator.next_page %}
          <a  name="next" title="next" class="primary-btn inverse align-self-center border-left-0" href="{{ data_paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span>Next</span><i class="fas fa-angle-right"></i></a>
        {% else %}
          <a name="next" title="next" class="primary-btn inverse align-self-center border-left-0"><span>Next</span><i class="fas fa-angle-right"></i></a>
        {% endif %}
      </div>
    {% endif %}

    </div>
  </div>
</section>

<!-- Newsletter signup here -->
{% include forms/jotform/newsletter.html %}
