---
layout: default
title: Blog Posts
meta_description: Blog Posts
permalink: /blog/
meta_tags:
  robots:
---

<!-- Blog landing banner here -->
<section class="inner-banner text-center" style="background-image:url('/assets/images/blog/blog-banner.jpg');">
  <div class="inner-banner-content">
    <h1 class="lowercase">Blog</h1>
    <h3 class="italic">Read about all the local hasellus condimentum libero vel velit auctor sit amet tincidunt velit varius.</h3>
  </div>
</section>

<!-- Blog content here -->
<section class="blog">
  <div class="blog-row">
    <div class="blog-aside">
      {% include blog-aside.html %}
    </div>
    <div class="blog-content">
      <!-- Blog individual post -->
      <div class="blog-item">
        <figure class="blog-lead-image">
          <a href="">
            <img src="/assets/images/blog/post-1.jpg" alt="">
          </a>
        </figure>
        <h2><a href="">Aenean commodo scelerisque mi sed imperdiet</a></h2>
        <div class="blog-info">
          <span class="date">September 5th, 2018 </span><span class="cat"><a href="">Eat & Drink</a></span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros.</p>
        <div class="btn-holder">
          <a class="primary-btn inverse" href="#"><span>Read More</span><i class="fas fa-angle-right"></i></a>
        </div>
      </div>

      <div class="blog-item">
        <figure class="blog-lead-image">
          <a href="">
            <img src="/assets/images/blog/post-2.jpg" alt="">
          </a>
        </figure>
        <h2><a href="">Aenean commodo scelerisque mi sed imperdiet</a></h2>
        <div class="blog-info">
          <span class="date">September 5th, 2018 </span><span class="cat"><a href="">Eat & Drink</a></span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros.</p>
        <div class="btn-holder">
          <a class="primary-btn inverse" href="#"><span>Read More</span><i class="fas fa-angle-right"></i></a>
        </div>
      </div>

      <div class="blog-item">
        <figure class="blog-lead-image">
          <a href="">
            <img src="/assets/images/blog/post-3.jpg" alt="">
          </a>
        </figure>
        <h2><a href="">Aenean commodo scelerisque mi sed imperdiet</a></h2>
        <div class="blog-info">
          <span class="date">September 5th, 2018 </span><span class="cat"><a href="">Eat & Drink</a></span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros.</p>
        <div class="btn-holder">
          <a class="primary-btn inverse" href="#"><span>Read More</span><i class="fas fa-angle-right"></i></a>
        </div>
      </div>

      <div class="blog-item">
        <figure class="blog-lead-image">
          <a href="">
            <img src="/assets/images/blog/post-4.jpg" alt="">
          </a>
        </figure>
        <h2><a href="">Aenean commodo scelerisque mi sed imperdiet</a></h2>
        <div class="blog-info">
          <span class="date">September 5th, 2018 </span><span class="cat"><a href="">Eat & Drink</a></span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros.</p>
        <div class="btn-holder">
          <a class="primary-btn inverse" href="#"><span>Read More</span><i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Newsletter signup here -->
{% include forms/jotform/newsletter.html %}
