---
layout: default
title: hotel zen tokyo - blog search results
meta_description: Blog Search Results
meta_tags:
  robots: 
published_localized:
  en: true
  ja: true
title_localized:
  en: Hotel Zen Tokyo
meta_description_localized:
  en: Blog Search Results
label: Home Page

---

{% assign blogpage = '/blog/'%}
{% if site.active_lang == 'ja' %}
 {% assign blogpage = '/ja/blog/'%}
{% endif %}
<!-- Blog landing banner here -->
{% include blog-banner.html %}

<!-- Blog content here -->
<section class="blog">
  <div class="blog-row">
    <div class="blog-content">

      <!-- Blog search results -->
      <div class="blog-results-wrap">
        <h2 tabindex="0">Search Results:</h2>
        <ul id="search-results" class="blog-results"></ul>
      </div>

    </div>
    <div class="blog-aside">
      {% include blog-aside.html %}
    </div>
  </div>
</section>

<!-- Newsletter signup here -->
{% include forms/jotform/newsletter.html %}

<script>
  window.store = {
    {% for post in site.data._models.blog %}
      "{{ post.url_friendly_name }}": {
        "title": "{{ post.title | xml_escape }}",
        "category": "{{ post.category.title | xml_escape }}",
        "content": {{ post.short_description | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url_friendly_name | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
