---
layout: default
---

<!-- Blog landing banner here -->
<section class="inner-banner text-center" style="background-image:url('/assets/images/blog/blog-banner.jpg');">
  <div class="inner-banner-content">
    <h1 class="lowercase">Blog</h1>
    <h3 class="italic">Read about all the local hasellus condimentum libero vel velit auctor sit amet tincidunt velit varius.</h3>
  </div>
</section>

<!-- Blog content here -->
<section class="blog">
  <div class="blog-row">
    <div class="blog-aside">
      {% include blog-aside.html %}
    </div>

    <div class="blog-content">
      <!-- Blog individual post -->

      <div class="category-intro">
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
      </div>

      {% for post in site.data._models.blog %}
        {% if post.category.url_friendly_name == page.url_friendly_name %}

          <div class="blog-item">
            <figure class="blog-lead-image">
              <a href="/blog/{{ post.url_friendly_name }}/">
                <img src="{{ post.image.url_medium }}" alt="{{ post.title }}">
              </a>
            </figure>

            <h2><a href="/blog/{{ post.url_friendly_name }}/">{{ post.title }}</a></h2>

            <div class="blog-info">
              <span class="date">
                {% assign d = post.date | date: "%-d" %}
                {{ post.date | date: "%B" }}
                {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
                {{ post.date | date: "%Y" }}
              </span>
              <span class="cat">
                <a href="/blog/category/{{ post.category.url_friendly_name }}/">{{ post.category.title }}</a>
              </span>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros.</p>

            <div class="btn-holder">
              <a class="primary-btn inverse" href="/blog/{{ post.url_friendly_name }}/"><span>Read More</span><i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</section>

<!-- Newsletter signup here -->
{% include forms/jotform/newsletter.html %}
