<!DOCTYPE html>
<html lang="{{ site.active_lang | slice: 0,2 | default: "en" }}" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>

<body>
  {% if site.active_lang == "ja" %}
    <input type="hidden" id="siteLang" value="ja-JP">
  {% endif %}
  {% if site.data.tracking.analytics.provider and page.analytics != false %}
    {% case site.data.tracking.analytics.provider %}
    {% when "gtm" %}
      {% include analytics/gtm-body.html %}
    {% endcase %}
  {% endif %}

  <a class="sr-only sr-only-focusable" href="#main">Skip to main content</a>

  {% include nav-main.html %}

  <div id="main">
    {{ content }}
  </div>
  <footer class="footer">
    {% include footer/custom.html %}
    {% include footer.html %}
  </footer>

  {% include scripts.html %}

</body>

</html>
