---
layout: default
---

<!-- Careers Banner -->
<section class="inner-banner text-center bg-cover mb-5" style="background-image:url('/assets/images/careers/careers-hero.jpg');">
  <div class="inner-banner-content">
    {% regionblock careers_details_banner, type:header %}
      <h1>Careers</h1>
    {% endregionblock %}
  </div>
</section>

<!-- Careers Content -->
{% assign careers = site.data._models.careers %}
<section class="careers-content">
  <h2>{{ page.designation }}</h2>
  {% regionblock careers_details_text, type:text %}
    <p class="mb-40">To apply: Please send your CV to <a href="mailto:jobs@senrecube.co">jobs@senrecube.com</a></p>
  {% endregionblock %}
  <div class="content-block">
    <h5 class="dark">Job description</h5>
    {{ page.job-description }}
  </div>
  <div class="content-block">
    <h5 class="dark">Requirements</h5>
    {{ page.requirements }}
  </div>
  <div class="content-block">
    <h5 class="dark">Qualifications</h5>
    {{ page.qualifications }}
  </div>
</section>
