<!-- Newletter Signup Form -->

<div class="signup" style="background-image:url('/assets/images/newsletter-banner.jpg')">
  <div class="wrapper">
    <h2>stay in the know</h2>
    <h3>Get our free email newsletter for exclusive promos, events and more.</h3>
    <form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.newsletter-id }}/" method="post" name="form_{{ site.data.forms.jotform.newsletter-id }}"
        id="{{ site.data.forms.jotform.newsletter-id }}" accept-charset="utf-8">
        <input type="hidden" name="formID" value="{{ site.data.forms.jotform.newsletter-id }}">
        <div class="input-group">
          <input type="email" id="signup-email" name="q1_email" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="email-address" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" title="Submit"><i class="fas fa-angle-right"></i></button>
          </div>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="q2_typeA[]" class="custom-control-input" id="signup-terms" required>
          <label class="custom-control-label" for="signup-terms">I agree to the <a href="/terms-of-service/" target="_blank">Terms of Service</a> and <a href="/privacy-policy/" target="_blank">Privacy Policy.</a></label>
        </div>
        <input type="hidden" id="simple_spc" name="simple_spc" value="{{ site.data.forms.jotform.newsletter-id }}">

        <script type="text/javascript">
            document.getElementById("si" + "mple" + "_spc").value = "{{ site.data.forms.jotform.newsletter-id }}-{{ site.data.forms.jotform.newsletter-id }}";
        </script>
    </form>
  </div>
</div>
